<h5>Consultation details</h5>

<p><strong>Consultation Time: </strong><%= @consultation.start_time%></p>
<p><strong>Consultation Time: </strong><%= @consultation.duration%> min.</p>
<p><strong>Price: $</strong><%= @consultation.mentor.price%> </p>







