<div class="container padding-top">
  <h1> Consultations </h1>
  <div class="consultations-board">
    <ul class="nav tabs-underlined" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link tab-underlined" id="home-tab" data-toggle="tab" href="#all" role="tab" aria-controls="All" aria-selected="true">All</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link active tab-underlined" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Upcoming</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link tab-underlined" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Past</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade " id="all" role="tabpanel" aria-labelledby="home-tab">
        <% if @consultations.empty? %>
          <p>No consultation yet.</p>
        <% else %>
          <%= render "consultations_all" %>
        <% end %>
      </div>
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <%= render "upcoming_consultations" %>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"><%= render "past_consultations" %>
      </div>
    </div>
  </div>
</div>