<div class="footer">
  <div class="footer-info">
    <ul class="social-icons">
      <li><i class="fab fa-facebook-square"></i></li>
      <li><i class="fab fa-instagram"></i></li>
    </ul>
  </div>
  <div>
    <p>© Copyright MentorHub All rights reserved.</p>
  </div>
</div>
