<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media-exp1.licdn.com/dms/image/C4D1BAQHN-A-xIYDZjA/company-background_10000/0?e=2159024400&v=beta&t=dIZ20pm53Ls9obUw4htnACCqa95xb2HIm48VnqM2GSw);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%# <a class="main-button" href="#">Apply now</a> %>
    <%= link_to "Apply now",  new_user_registration_path, class: "main-button"  %>
  </div>
</div>
<div class="container">
  <div class="about-card">
    <h2 id="about-title">About Us</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</div>
<div class="cards-board">
  <div class="container">
    <div class="cards">
      <div class="service-cards">
        <i class="fas fa-book"></i>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      </div>
      <div class="service-cards">
        <i class="fas fa-chalkboard-teacher"></i>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      </div>
      <div class="service-cards">
        <i class="fas fa-award"></i>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      </div>
    </div>
  </div>
</div>

