<div class="banner" style="background-image:  url(<%= image_url 'banner.png' %>);">
  <div>
    <div class="home-banner-title">
      <h1>The Right Help Makes All The Difference.</h1>
      <p>Personal Growth made easy!</p>

      <%# <a class="main-button" href="#">Apply now</a> %>
      <%#= render "pages/home_search" %>
      <%= link_to "Find a Mentor",  mentors_path, class: "main-button"  %>
    </div>
  </div>
</div>
<div class="cards-board">
  <div class="container">
    <div class="cards">
      <div class="service-cards">
        <i class="fas fa-question"></i>
        <p>Find a mentor that fits your concerns</p>
      </div>
      <div class="service-cards">
        <i class="far fa-calendar-alt"></i>
        <p>Schedule a time that works for the both of you</p>
      </div>
      <div class="service-cards">
        <i class="fas fa-comments"></i>
        <p>Discuss your concerns with your new mentor</p>
      </div>
    </div>
  </div>
</div>
<div >
  <div class="about-card">
    <h2 id="about-title">About Us</h2>
    <p>MentorHub was started out of concern for those of us who have been heavily affected by the corona outbreak. As mentors have also been hit hard, we have created a streamlined app designed to take the complication out of creating a mentor/mentee relationship.</p>
  </div>
</div>
