.banner {
  background-size: cover;
  background-position: 50% 50%;
  padding: 745px 40px 64px 40px;
  position: relative;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 32px;
  color: white;
  opacity: 1.0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 24px;
}

.home-banner-title {
  position: absolute;
  top: 400px;
  left: 140px;
}
