.main-button {
  background-color: #23585e;
  border-radius: 8px;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #23585e;
  // margin: 4px;
}

.main-button:hover {
  text-decoration: none;
  color: #fff;
}

.second-button {
  background-color: #fff;
  border: 1px solid #23585e;
  padding: 8px 16px;
  color: #23585e;
  border-radius: 8px;
  margin: 4px;
}

.second-button:hover {
  text-decoration: none;
  color: #23585e;
}

.third-button {
  background-color: #f46523c9;
  border-radius: 24px;
  color: #fff;
  padding: 4px 16px;
  border: 1px solid #f46523c9;
  margin: 4px;
  font-weight: 500;
}

.green-button {
  background-color: #0eb91db8;
  border-radius: 24px;
  color: #fff;
  padding: 4px 16px;
  border: 1px solid #0eb91db8;
  margin: 4px;
  font-weight: 500;
}

.red-button {
  background-color: #ff0000c2;
  border-radius: 24px;
  color: #fff;
  padding: 4px 16px;
  border: 1px solid #ff0000c2;
  margin: 4px;
  font-weight: 500;
}
