.main-button {
  background-color: #0067da;
  border-radius: 8px;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #0067da;
  margin: 4px;
}

.main-button:hover {
  text-decoration: none;
  color: #fff;
}

.second-button {
  background-color: #fff;
  border: 1px solid #0067da;
  padding: 8px 16px;
  color: #0067da;
  border-radius: 8px;
  margin: 4px;
}

.second-button:hover {
  text-decoration: none;
  color: #0067da;
}

.third-button {
  background-color: #f46523;
  border-radius: 8px;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #f46523;
  margin: 4px;
}

.green-button {
  background-color: #0eb91d;
  border-radius: 24px;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid #0eb91d;
  margin: 4px;
}

.red-button {
  background-color: red;
  border-radius: 24px;
  color: #fff;
  padding: 8px 16px;
  border: 1px solid red;
  margin: 4px;
}
