.about-card {
  padding: 100px 300px;
  text-align: center;
  background-color: #f8fbff;
}

.cards-board {

  .cards {
    display: flex;
    padding: 32px 16px;
    justify-content: space-between;

    .service-cards {
    padding: 32px 24px;
    background-color: #fff;
    border-radius: 16px;
    margin: 48px 24px;
    text-align: center;

    i {
      font-size: 40px;
      color: rgb(120, 120, 120);
      padding: 40px 0;
      }

    p {
      font-size: 16px;
    }
    }
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  margin: 32px 0;
}

.mentors-title {
  margin: 24px 0;
  text-align: center;
}
.mentor-cards {
  background-color: #ffffff;
  margin: 8px;
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(8,8,61,.1);

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 0;

  }
  h5 {
    color: black;
  }

  h5, p {
    text-align: center;
    margin-bottom: 0;
    margin: 0 auto;

  }
  .book-btn {

    align-self: stretch;
  }
  .main-button {
    padding: 4px 12px;
    border-radius: 8px;
    margin: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .stars {
    flex-direction: row;

    i {
    color: #f5d534;
    font-size: 12px;
    }
  }



  .mentor-tag {
    display: flex;
    flex-wrap: wrap;
    height: 62px;
    align-items: center;
  }

  .mentor-tag p {
    background-color: #fff;
    border-radius: 24px;
    padding: 4px 8px;
    font-size: 12px;
    margin: 4px;
    color: #14c086;
    border: 1px solid #14c086;
    font-weight: 500;

  }

  .mentor-price {
    padding: 12px 0;
  }

  .mentor-price span {
    font-size: 24px;
    font-weight: 400;

  }

}

.mentor-cards:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.09);
  text-decoration: none;
}

.img-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.mentors-container {
  padding: 0 120px;
}

