.consultation-card {
  border: 1px solid #eeeeee;
  border-radius: 16px;
  margin: 24px 0;
  box-shadow: 0 2px 4px rgba(8,8,61,.1);
  background-color: #ffffff;
}

.consultation-card:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.09);
}


.consultation-top-wrap {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 8px 16px;
  min-height: 200px;

  span {
    font-weight: 500;
    font-size: 18px;
  }

  h5 {
    padding: 8px 0;
    margin: 0px;
    text-align: center;
  }

  h6 {
    margin: 5px;
  }

}


.topics {
  align-items: center;
  margin-left: 0px;

  .tag {
    font-size: 14px;
  }
}

.consultation-info {
  flex-grow: 1;
  padding: 0 16px;

  ul {
    list-style-type: none;
  }

}

.consultation-bottom-wrap {
  display: flex;
  justify-content: center;
  border-top: 1px solid #eeeeee;
}

.consultation-bottom-left {
  display:flex;
  flex-direction: column;
  align-items:left;
  border-right: 1px solid #eeeeee;
  padding: 0px;
  flex:50%;
  padding: 16px;
}

.consultation-bottom-right {
  display:flex;
  flex-direction: column;
  align-items:right;
  padding: 0px;
  flex:50%;
  padding: 16px;
}

.consultation-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 180px;
  align-self: stretch;
  padding: 0 0 16px 0;

  .third-button, .red-button, .green-button {
    text-align: center;
    font-weight: 300px;
    border-radius: 24px;
    margin: 0 1px 50px 0;
  }

  h6 {
    text-align: right;
    padding: 16px 0;
    font-size: 20px;
    margin: 0;
  }

  .main-button {
    margin-left: 8px;
  }
}
.consultations-board {
  margin-bottom: 120px;
}

.bottom-btn {
  text-align: right;
}

.accept-reject-btn {
  align-items: center;
}

.consultations-board-card {
  border: 1px solid #eeeeee;
  border-radius: 16px;
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
  padding: 16px 16px 8px 16px;
  box-shadow: 0 2px 4px rgba(8,8,61,.1);
  background-color: #ffffff;

  .info {
    flex-grow: 1;
    ul {
      list-style-type: none;
    }

  span {
    font-weight: 500;
    font-size: 18px;
  }

  }



  h6 {
      text-align: center;
      padding: 8px 0;
      margin: 0px;
    }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-width: 160px;
    margin-left: 16px;
    align-self: stretch;
    padding: 0 0 8px 0;

    .row {
      margin: 0;
    }
  }
}

.consultations-board-card:hover {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.09);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
