.consultation-card {
  border: 2px solid #eeeeee;
  border-radius: 16px;
  margin: 16px;
}

.consultation-top-wrap {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 8px 16px;
  height: 200px;

  span {
    font-weight: 500;
    font-size: 16px;
  }

  h5 {
    padding: 8px 0;
    margin: 0px;
    text-align: center;
  }

  h6 {
    margin: 5px;
  }

}


.topics {
  align-items: center;
  margin-left: 0px;
}

.consultation-info {
  flex-grow: 1;
  padding: 0 16px;

  ul {
    list-style-type: none;
  }
}

.consultation-bottom-wrap {
  display: flex;
  justify-content: center;
  border-top: 2px solid #eeeeee;
}

.consultation-bottom-left {
  display:flex;
  flex-direction: column;
  align-items:left;
  border-right: 2px solid #eeeeee;
  padding: 0px;
  flex:50%;
  padding: 16px;
}

.consultation-bottom-right {
  display:flex;
  flex-direction: column;
  align-items:right;
  padding: 0px;
  flex:50%;
  padding: 16px;
}

.consultation-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;

  .third-button, .red-button, .green-button {
    text-align: center;
    font-weight: 300px;
    border-radius: 24px;
    margin: 0 0 50px 0;
  }
}

.consultations-board-card {
  border: 2px solid #eeeeee;
  border-radius: 16px;
  margin: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  padding: 16px 16px 8px 16px;

  .info {
    flex-grow: 1;
    ul {
      list-style-type: none;
    }


  }

  h6 {
      text-align: center;
      padding: 8px 0;
      margin: 0px;
    }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
