

.screen {
  height: 500px;
  width: 600px;
  //height: 100vh;
  position: sticky;
  top: 0;
}

.screen p {
  color: white;
  margin: auto;
  text-align: center;
}

.dashboard {
  width: 20%;
  // color: rgb(77, 77, 82);
  padding-right: 10px;
}

.panel {
  color: rgb(77, 77, 82);
  width: 100%;
}

h3 {
  color: gray;
}

.price {
  text-align: center;
  color: rgb(80, 80, 80);
  font-size: x-large;
  font-weight: bolder;
}

.twilio-video {
  width: 100%;
  height: 100%;
}

#room-name {
  color: #DC5757;
}

.video-room {
  margin: 32px auto;
  padding: 120px 80px 80px 80px;
}

.exit-room {
  text-align: right;
  margin-bottom: 40px;

  .second-button {
    color: #23585e;
  }
}

.certification {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
