.mentor-info-main {
  display: flex;
  padding: 48px 0 24px 0;
}

.mentor-details {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  align-items: center;
  padding: 8px 16px;

  span {
    font-weight: 400;
    font-size: 24px;
  }
}

.user-main-box {
  display: flex;
  align-items: center;
  padding: 0 16px;

  .stars {
    flex-direction: row;

    i {
    color: #f5d534;
    font-size: 16px;
    }
  }

  .avatar-large {
    width: 200px;
  }
}

.user-main-info {
  padding: 24px;
}

.mentor-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;

  h6 {
    padding-top: 8px;
  }





  p {
    margin: 0;
  }

  .mentor-tag p {
    background-color: #fff;
    border-radius: 24px;
    padding: 4px 8px;
    font-size: 10px;
    margin: 4px;
    color: #11afa0;
    border: 1px solid #11afa0;
  }
}

.mentor-description {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #eeeeee;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px 0;



  #description {
    padding: 16px;
  }
}

.booking-form {

  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 24px 16px;
  margin: 16px 0 80px 0;
}

.booking-details {
  border: 1px solid #eeeeee;
  margin-right: 0px;
  border-radius: 5px;

  ul {
  padding: 0px 24px;
  list-style-type: none;
  font-size: 20px;
  margin: 24px 0px;

    li {
      padding: 16px 0;
    }
  }
}

.bookin-form-row {
  padding-right: 16px;
}

#total {
  font-size: 24px;
}

.expertise-card {
  margin: 24px 0;
}

.expetise-tags {
  padding: 0 16px;

  .tag {
    font-size: 14px;
  }
}
