.mentor-info-main {
  display: flex;
  padding: 48px 0 24px 0;
}

.mentor-details {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  align-items: flex-end;

  span {
    font-weight: 400;
    font-size: 24px;
  }
}

.mentor-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;

  h6 {
    padding-top: 8px;
  }

  .avatar-large {
    width: 200px;
  }

  .stars {
    flex-direction: row;

    i {
    color: #f5d534;
    font-size: 12px;
    }
  }

  p {
    margin: 0;
  }

  .mentor-tag p {
    background-color: #fff;
    border-radius: 24px;
    padding: 4px 8px;
    font-size: 10px;
    margin: 4px;
    color: #11afa0;
    border: 1px solid #11afa0;
  }
}

.mentor-description {
  background-color: #f8fbff;
  border-radius: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    padding: 8px 16px;
    margin: 0;
  }

  #description {
    padding: 16px;
  }
}

.booking-form {
  padding: 48px 0 160px 0;
}

.select2-container {
  //width: 100%;
}
