
<div class="container padding-top">
  <h1>How did it go?</h1>

  <div id="reviews">
    <%= simple_form_for [@mentor, @review] do |f| %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
      <%= f.input :content, as: :text %>
      <%= f.submit 'Submit',  class: 'main-button' %>
    <% end %>
  </div>



</div>
